<style>
    .box {
        height: 100px;
        width: 100px;
        background-color: orange;
        border-radius: 10px;
        color: white;
        font-size: 70px;
        text-align: center;
    }
    .box2 {
        height: 100px;
        width: 100px;
        border:1px solid orange;
        border-radius: 10px;
        color: orange;
        font-size: 70px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box mx-auto">
                <i class="bi bi-qr-code-scan"></i>
            </div>
            <p class="text-center text-">Scan & Pay</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box mx-auto">
                <i class="bi bi-wallet"></i>
            </div>
            <p class="text-center">Wallet</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box mx-auto">
                <i class="bi bi-coin"></i>
            </div>
            <p class="text-center">Transfer</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <a routerLink="/transaction">
            <div class="box mx-auto">
                <i class="bi bi-bank2"></i>
            </div>
            </a>
            <p class="text-center">To Bank</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box2 mx-auto">
                <i class="bi bi-phone"></i>
            </div>
            <p class="text-center">Mobile Recharge</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box2 mx-auto">
                <i class="bi bi-car-front"></i>
            </div>
            <p class="text-center">Fastage Recharge</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box2 mx-auto">
                <i class="bi bi-credit-card"></i>
            </div>
            <p class="text-center">Credit Card Bill</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="d-flex flex-column">
            <div class="box2 mx-auto">
                <i class="bi bi-lightbulb"></i>
            </div>
            <p class="text-center">Electricity Bill</p>
        </div>
    </div>
</div>
