<style>
    .logo_title{
    background-image: url('../../../assets/toucan_title.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:60px;
    width: 190px;
    position: relative;
    left: 30px;
}
</style>
<header class="bg-white shadow d-flex">
    <div class="logo_title"></div>
    <div class="ms-auto d-flex">
        <button class="btn btn-light px-5">Portfolio</button>
        <button class="btn btn-light px-5">About Us</button>
        <button class="btn btn-light px-5">Contact Us</button>
        <a routerLink="/login" class="btn btn-light px-5 text-danger p-3">Logout</a>
    </div>
</header>
<div>
    <div class="row">
        <div class="col-md-6">
            <div class="p-3 text-center mt-5">
                <div class="fs-3">Welcome to</div>
                <div class="fs-1">Toucan Payments Bank</div>
            </div>
            <hr>
            <app-main-ops></app-main-ops>
        </div>
        <div class="col-md-6">
            <div class=" p-3 mt-5">
                <app-v-card></app-v-card>
            </div>
        </div>
    </div>
</div>